@model IEnumerable<WelfareDenmarkMVC.Models.ContactListViewModel>

@{
	ViewData["Title"] = "Index";
}

<h2>Dine kontakter</h2>

<p>
	<a asp-controller="ContactList" asp-action="Create">Opret ny kontakt</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					<a asp-controller="ContactList" asp-action="Edit" asp-route-id="@item.ContactID">Redigér</a> |
					<a asp-controller="ContactList" asp-action="Details" asp-route-id="@item.ContactID">Detaljer</a> |
					<a asp-controller="ContactList" asp-action="Delete" asp-route-id="@item.ContactID">Slet</a>
				</td>
			</tr>
		}
	</tbody>
</table>

